
.item span{
  color: #000;
  background-color: #000;
}
.month .p-calendar-month{
  background-color: #E5EDF6;
}
.p-datepicker p-component p-datepicker-monthpicker p-ripple-disabled p-connected-overlay-enter-done{
  background-color: #000;
}
#pr_id_151_panel{
  background-color: #000;
}

.element.style{
  background-color: #000;
}
.p-monthpicker span{
  background-color: #E5EDF6;
}
.p-focus{
  background-color: #000;
  color: #000;
}
.month{
  color: #000;
  background-color: #000;
}

.item span{
  opacity: 0;
  cursor: pointer;
}

.item span {
  display: block;
  opacity: 0;
  width: 117px;
  margin-top: -30px;
  cursor: pointer;
}

.item span input{
  cursor: pointer;
}

.content {
  display: flex;
}

.month input{
  width: 100px;
}

.ml-1{
  margin-left: -20px;
}

.ml-1 text-lg text-gray-600 font-normal{
  margin-left: -10px;
}
.text-lg font-bold text-gray-800{
  cursor: pointer;
}

@media (max-width: 770px) {
  .flex-wrap div{
    margin-top: 10px;
  }
}


