.current_day {
  color: #000;
  margin-left: 15px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 15px;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: transparent;
  width: 180px;
  height: 39px;
}

.current_day::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, height 0.3s ease;
  z-index: -1;
  border-radius: 20px;
}

.current_day:hover::before {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  width: 150%;

  height: 150%;
}
.addtask {
  color: #000;
  margin-left: 15px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 15px;
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 0.3s ease, padding 0.3s ease;
  background-color: transparent;
}

.addtask::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease, height 0.3s ease;
  z-index: -1;
  border-radius: 20px;
}

.addtask:hover::before {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  width: 150%;

  height: 150%;
}

.addtask:hover {
  background-color: #e0e0e0;
}
.click{
  display: flex;
}

.item span{
  color: #000;
  background-color: #000;
}
.month .p-calendar-month{
  background-color: #E5EDF6;
}
.p-datepicker p-component p-datepicker-monthpicker p-ripple-disabled p-connected-overlay-enter-done{
  background-color: #000;
}
#pr_id_151_panel{
  background-color: #000;
}

.element.style{
  background-color: #000;
}
.p-monthpicker span{
  background-color: #E5EDF6;
}
.p-focus{
  background-color: #000;
  color: #000;
}
.month{
  color: #000;
  background-color: #000;
}

.item span{
  opacity: 0;
  cursor: pointer;
}

.item span {
  display: block;
  opacity: 0;
  width: 117px;
  margin-top: -30px;
  cursor: pointer;
}

.item span input{
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month input{
  width: 100px;
}

.ml-1{
  margin-left: -20px;
}

.ml-1 text-lg text-gray-600 font-normal{
  margin-left: -10px;
}
.text-lg font-bold text-gray-800{
  cursor: pointer;
}
.adaptive {
  padding-bottom: 1rem;
}
.adaptive {
  padding-top: 0.5rem;
}
@media (max-width: 770px) {
  .adaptive{
    padding-top: 1rem;
  }
  .addtask, .current_day{
    font-size: 1.0rem;
  }
  .container_adaptive {
    flex-direction: column;
    margin: 0 auto;
    padding-left: 1.5rem;
  }
}

@media (max-width: 450px) {
  

  .container_adaptive {
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  .click{
    text-align: center;
    flex-direction: column;
  }
  .content{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .arrow{
    width: 80px;
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  
  .addtask,
  .current_day {
    font-size: 0.9rem;
  }

  .container_adaptive{
    flex-direction: column;
    text-align: center;
    width: 250px;
  }

}

@media (max-width: 320px) {


  .year{
    font-size: 15px;
  }

}

@media (max-width: 300px) {

  .addtask,
  .current_day {
    font-size: 0.9rem;
  }

  .container_adaptive {
    width: 200px;
  }

}


@media (max-width: 270px) {

  .content span{
    width: 50px;
    font-size: 12px;
  }

}



