

.footer{
  background-color: #253C42;
  height: 90px;
  color: #fff;
}

.footer_content{
  height: 90px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}