.modal select {
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
  width: 200px;
  height: 30px;
}
.modal select:focus {
  outline: none;
  border: 1px solid #007bff;
}


