

@tailwind base;
@tailwind components;
@tailwind utilities;

.p-datepicker p-component p-datepicker-monthpicker p-ripple-disabled p-connected-overlay-enter-done{
  background-color: #000;
}

.p-datepicker-monthpicker {
  background-color: #a5cab6;
  border-radius: 10px;
  padding: 20px;
}

.p-datepicker-title button{
  pointer-events: none;
  cursor: default;
}

.ml-1 {
  margin-left: -15px;
}

@media (max-width: 770px) {
  .pt-2{
    padding-top: 1rem;
  }
}

@media (max-width: 550px) {
  .pt-2 {
    height: 80px;
  }
}

@media (max-width: 350px) {
  .text-gray-600 {
    font-size: 12px;
  }
}



